/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/ {
	chosen {
		nordic,nus-uart = &cdc_acm_uart1;
		nordic,liefyuan-uart = &uart1;
	};
};

&uart0 {
	status = "okay";
	current-speed = <115200>;
	tx-pin = <25>;
	rx-pin = <26>;
};

&uart1 {
	status = "okay";
	current-speed = <115200>;
	tx-pin = <30>;
	rx-pin = <31>;
};

